{% extends "base.html" %}

{% block content %}
<h1>
  Tags
  <a style="float: right" href="{% url 'todo_core:tag_create' %}" class="btn btn-primary link-to-page">
    Add
  </a>
</h1>

{% if tag_list %}
<table class="table">
  <tr>
    <th>Name</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  {% for tag in tag_list %}
  <tr>
    <td>{{ tag.name }}</td>
    <td><a class="btn btn-secondary" href="{% url 'todo_core:tag_update' pk=tag.id %}">Update</a></td>
    <td><a class="btn btn-secondary" href="{% url 'todo_core:tag_delete' pk=tag.id %}">Delete</a></td>
  </tr>
  {% endfor %}

</table>
{% else %}
<p>There are no tags.</p>
{% endif %}
{% endblock %}
